*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
a:not() {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* BASIC COLORS */
  --gui-top-lgocol: #00a3ff;
  --gui-top-bgdcol: #ffffff;
  --gui-top-icncol: #999999;
  --gui-top-notifs: #fb3c3c;
  --gui-txt-notifs: #ffffff;
}
